h1{
    color: #F9F9C5;
    padding: auto;
    text-align: center;
}
body{
    background-color: #FAD9A1;
}
#bomdia{
    width: 100%;
    text-align: center;
}
p{
    position: absolute;
    color: #F9F9C5;
    text-align: center;
    font-size: 30px;
    top: 100px;
}
img{
    border-radius: 50px;
    height: 500px;
    box-shadow: #D9F8C4 10px 10px;
    position: absolute;

}
img:hover{
    transition-timing-function: ease;
    transition-duration: 2s;
    transform: translateX(500px);   
}


